# add to path
add2path(){
    [ -d $1 ] && PATH="$1:$PATH"
}

# Create a new directory and enter it
mkd() {
    mkdir -p "$@" && cd "$@"
}

# Calculator
calc() {
  echo "$*" | bc -l;

}

# Weather
weather() {
  local LOCALE=`echo ${LANG:-en} | cut -c1-2`
  if [ $# -eq 0 ]; then
    local LOCATION=`curl -s ipinfo.io/loc`
  else
    local LOCATION=$1
  fi
  curl -s "$LOCALE.wttr.in/$LOCATION"
}

# show ip address
ip(){
    local ip=$(dig +short myip.opendns.com @resolver1.opendns.com)
    local ipl=$(ifconfig | grep -Eo 'inet (addr:)?([0-9]*\.){3}[0-9]*' | grep -Eo '([0-9]*\.){3}[0-9]*' | grep -v '127.0.0.1')
    echo "WAN: ${ip}"
    echo "LAN: ${ipl}"
}

# Show 256 TERM colors
colors() {
  local X=$(tput op)
  local Y=$(printf %$((COLUMNS-6))s)
  for i in {0..256}; do
  o=00$i;
  echo -e ${o:${#o}-3:3} $(tput setaf $i;tput setab $i)${Y// /=}$X;
  done
}

#Test speed
speedtest(){
    wget -O /dev/null http://speed.transip.nl/100mb.bin
}

